/********************************************/
/* general                                  */
/********************************************/
* {
    border: none;
    border-radius: 0;
    font-family: FontAwesome, Monaspace Krypton;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(25, 25, 25, 0.95);
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: white;
}

/********************************************/
/* toolbar                                  */
/********************************************/
tooltip {
  background: rgba(43, 48, 59, 0.75);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

/********************************************/
/* workspaces                               */
/********************************************/
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #00ff1a;
    border: 1px solid #00ff1a;
}

#workspaces button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */

    border-top: 3px solid #00ff1a;
    border-bottom: 3px solid #00ff1a;
}

#workspaces button.focused {
    background: #00ff1a;
    color: #333333;
}

#workspaces button.active {
}

#workspaces button.urgent {
    border-top: 3px solid #bf616a;
    border-bottom: 3px solid #bf616a;
}

/********************************************/
/* modules                                  */
/********************************************/
#mode, #clock, #battery, #cpu, #memory {
    padding: 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    /*background-color: #64727D;*/
}

#battery {
    /*background-color: #ffffff;*/
  background-color: transparent;
}

#battery.charging {
  color: #00ff1a;
}

#battery.warning:not(.charging) {
    /*background: #bf616a;*/
}
