BACKUP_PATHS="/home/marian"
BACKUP_EXCLUDES="--exclude-file "                                                                       
RETENTION_DAYS=7
RETENTION_WEEKS=6
RETENTION_MONTHS=12
RETENTION_YEARS=5
B2_ACCOUNT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
B2_ACCOUNT_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
RESTIC_REPOSITORY=b2:XXXXXXXXXXXXXXXXXX:/
RESTIC_PASSWORD=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
